<div class="login-form">
    <form (ngSubmit)="login()">
        <h2 class="text-center">Agendamento SINACE</h2>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="user.email" name="user.email" placeholder="E-mail" required="required">
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="user.passcode" name="user.passcode" class="form-control" placeholder="Código de acesso" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
                <div class="text-center">
                    <span *ngIf="!loading">Entrar</span>
                    <div *ngIf="loading" class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
            </button>
            <div [hidden]="!wrongCredentials" class="alert alert-danger" role="alert">
                Credenciais incorretas
            </div>
        </div>
    </form>
</div>