<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">=]</th>
            <th scope="col" *ngFor="let day of weekdays">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hour of hours">
            <th scope="row">{{hour}}</th>
            <td><input class="form-check-input" type="radio" value="{{hour}}1" name="exampleRadios"></td>
            <td><input class="form-check-input" type="radio" value="{{hour}}2" name="exampleRadios"></td>
            <td><input class="form-check-input" type="radio" value="{{hour}}3" name="exampleRadios"></td>
            <td><input class="form-check-input" type="radio" value="{{hour}}4" name="exampleRadios"></td>
            <td><input class="form-check-input" type="radio" value="{{hour}}5" name="exampleRadios"></td>
        </tr>
    </tbody>
</table>